/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Contanier styles, Footer etc.
 * 
 */
 p{
    width: auto;
 }
 #main{
    
        margin-left: 500px;
        margin-right: auto;
        width: 70%;
        
      
 }
 .center{

        
        margin-left: 500px;
        margin-right: auto;
        width: 70%;
 }
 hr{
   width:80%;
   text-align:left;
   margin-left:0"
 }
